@import 'variables';

// Media queries for typography and spacing
@media screen and (max-width: $breakpoint-md) {
  :root {
    // Typography
    --h1-size: #{$h1-mobile};
    --h2-size: #{$h2-mobile};
    --h3-size: #{$h3-mobile};
    --subhead-size: #{$subhead-mobile};
    --text-body-size: #{$text-body-mobile};
    --text-body-accent-size: #{$text-body-accent-mobile};
    --additional-text-size: #{$additional-text-mobile};
    --text-info-size: #{$text-info-mobile};

    // Spacing
    --offset-a1: #{$offset-a1-mobile};
    --offset-a2: #{$offset-a2-mobile};
    --offset-a3: #{$offset-a3-mobile};
    --offset-a4: #{$offset-a4-mobile};
    --offset-a5: #{$offset-a5-mobile};
    --offset-a6: #{$offset-a6-mobile};
  }
}

@media screen and (max-width: 1198.5px) {
  .container {
    padding-left: 9.25px;
    padding-right: 9.25px;
  }
  .lines {
    width: calc(100dvw - (9.25px * 2));
    &__line {
      &:first-child {
        display: none;
      }
      width: 1.1px;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .line-splitter {
    &--mobile {
      display: block;
    }
  }
  .header {
    &__container {
      position: relative;
    }
    &__burger {
      display: inline-flex;
    }
    &__button {
      &--mobile {
        display: inline-flex;
        align-self: flex-end;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 45px;
        width: 50%;
      }
      &--desktop {
        display: none;
      }
    }
    &__menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      max-width: 100dvw;
      max-height: 100%;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: $header-index;
      transition: all 1.3s ease-in-out;
      transform: translateY($header-height);
      &.active {
        .nav {
          &__list {
            height: calc(100dvh - $header-height);
          }
        }
      }
    }
  }
  .nav {
    width: 100%;
    padding-left: 9.25px;
    padding-right: 9.25px;
    background-color: var(--black);
    &__list {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 0;
      gap: 0;
      transition: height 0.3s ease-in-out;
    }
    &__item {
      padding: 25px 0;
      width: 100%;
      font-size: 20px;
      line-height: 125%;
      text-transform: uppercase;
      &:first-child {
        margin-top: 25px;
        border-top: 1px solid var(--white);
      }
      border-bottom: 1px solid var(--white);
    }
  }

  .hero {
    &__slogan {
      margin-top: 38px;
      max-width: 255px;
      &-inner {
        padding: 19px 6px 19px 29px;
      }
    }
  }

  .slogan {
    &__title {
      &-element {
        &:nth-child(3) {
          margin-left: 25%;
        }
      }
    }
    &__author {
      margin-left: 33%;
      margin-right: unset;
      width: 67%;
    }
  }
}
