@import 'variables';

// Media queries for typography and spacing
@media screen and (max-width: $breakpoint-md) {
  :root {
    // Typography
    --h1-size: #{$h1-mobile};
    --h2-size: #{$h2-mobile};
    --h3-size: #{$h3-mobile};
    --subhead-size: #{$subhead-mobile};
    --text-body-size: #{$text-body-mobile};
    --text-body-accent-size: #{$text-body-accent-mobile};
    --additional-text-size: #{$additional-text-mobile};
    --text-info-size: #{$text-info-mobile};

    // Spacing
    --offset-a1: #{$offset-a1-mobile};
    --offset-a2: #{$offset-a2-mobile};
    --offset-a3: #{$offset-a3-mobile};
    --offset-a4: #{$offset-a4-mobile};
    --offset-a5: #{$offset-a5-mobile};
    --offset-a6: #{$offset-a6-mobile};
  }
}

@media screen and (max-width: 1198.5px) {
  .container {
    padding-left: 9.25px;
    padding-right: 9.25px;
  }
  .lines {
    width: calc(100dvw - (9.25px * 2));
    &__line {
      &:first-child {
        display: none;
      }
      width: 1.1px;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .line-splitter {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
  .ellipse {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
  .header {
    &__container {
      position: relative;
    }
    &__burger {
      display: inline-flex;
    }
    &__button {
      &--mobile {
        display: inline-flex;
        align-self: flex-end;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 45px;
        width: calc(66% + 2px);
      }
      &--desktop {
        display: none;
      }
    }
    &__menu {
      position: absolute;
      display: flex;
      flex-direction: column;
      max-width: 100dvw;
      max-height: 100%;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: $header-index;
      transition: all 1.3s ease-in-out;
      transform: translateY($header-height);
      &.active {
        .nav {
          &__list {
            height: calc(100dvh - $header-height);
          }
        }
      }
    }
  }
  .nav {
    width: 100%;
    padding-left: 9.25px;
    padding-right: 9.25px;
    background-color: var(--black);
    &__list {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 0;
      gap: 0;
      transition: height 0.3s ease-in-out;
    }
    &__item {
      padding: 25px 0;
      width: 100%;
      font-size: 20px;
      line-height: 125%;
      text-transform: uppercase;
      &:first-child {
        margin-top: 25px;
        border-top: 1px solid var(--white);
      }
      border-bottom: 1px solid var(--white);
    }
  }

  .hero {
    &__slogan {
      margin-top: 38px;
      max-width: 255px;
      &-inner {
        padding: 19px 6px 19px 29px;
      }
    }
  }

  .slogan {
    &__hexagons {
      max-width: 258px;
      top: 25px;
    }
    &__ellipse {
      top: unset;
      right: unset;
      transform: unset;
      left: -28px;
      bottom: 0;
    }
    &__title {
      &-element {
        &:nth-child(3) {
          margin-left: 25%;
        }
      }
    }
    &__author {
      margin-left: 33%;
      margin-right: unset;
      width: 67%;
    }
  }
  .history {
    &__subsection {
      flex-direction: column;
      gap: var(--offset-a4);
    }
    &__image {
      max-width: 100%;
      @include cut-off-left-top-and-right-bottom-corners(4px, 1, darken($white, 0.5), 'false');
    }
    &__info {
      max-width: 100%;
      &-inner {
        padding-bottom: 30px;
      }
    }
  }

  .team {
    &__info {
      max-width: 100%;
      &-hexagons {
        right: -15px;
        top: unset;
        bottom: -190px;
        width: 245px;
      }
      &-inner {
        margin-left: 20px;
      }
    }
  }

  .player {
    &-preview {
      &__image {
        @include cut-off-left-top-and-right-bottom-corners(4px, 1, darken($white, 0.5), 'false');
      }
    }
  }

  .solution {
    &__ellipse {
      width: 231px;
      height: 231px;
      &--second {
        top: 60px;
        left: 150px;
      }
      &-container {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &__slider {
      &-controls {
        &--mobile {
          display: inline-flex;
        }
      }
      &-wrapper {
        display: block;
        .slick-list {
          overflow: unset !important;
          .slick-track {
            display: flex !important;
            gap: 15px;
          }
        }
      }
    }
    &__title {
      max-width: 100%;
      margin-bottom: 8px;
    }
    &__slide {
      max-width: 315px;
    }
    &__image {
      @include cut-off-left-top-and-right-bottom-corners(8px, 1, darken($white, 0.5), 'false');
    }
  }

  .details {
    &__title {
      text-align: left;
    }
    &__info {
      &::before,
      &::after {
        display: none;
      }
      &-image {
        max-width: 200px;
        top: -25%;
        left: unset;
        right: 0;
        transform: translateY(25%);
      }
      &-row {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
      }
      &-block {
        &--left,
        &--right {
          text-align: left;
        }
      }
      &-inner {
        &::before,
        &::after {
          display: none;
        }
        &--mobile {
          display: flex;
        }
        &--desktop {
          display: none;
        }
        padding: unset;
      }
    }
    &__category {
      font-size: 12px;
      letter-spacing: 2.76px;
    }
    &__body {
      font-size: 16px;
    }
    &__comment {
      font-size: 10px;
      font-weight: 500;
      max-width: 50%;
    }
  }

  .advantages {
    $self: &;
    &__title {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
    &__slider > #{$self}__slide {
      display: none;
    }
    &__slide {
      padding: 32px 0;
      flex-shrink: 0;
      max-width: 265px;
      height: auto;
      &-inner {
        @include primary-quotation(32px);
        padding: 0 25px 0 20px;
      }
    }
    &__slider {
      display: flex;
      flex-direction: column;
      flex-wrap: unset;
      &-wrapper {
        display: block;
        .slick-list {
          overflow: unset !important;
          .slick-track {
            display: flex !important;
            gap: 15px;
          }
        }
      }
      &-controls {
        &--mobile {
          display: inline-flex;
          justify-self: flex-end;
        }
      }
    }
    &__text {
      font-size: 14px;
      font-weight: 100;
    }
  }

  .promotion {
    &__container {
      flex-direction: column-reverse;
      gap: var(--offset-a4);
    }
    &__hexagons {
      z-index: $ellipse-index;
    }
    &__info {
      max-width: 100%;
      &-inner {
        margin-left: 22px;
      }
    }
    &__text {
      font-size: var(--text-body-size);
    }
    &__image {
      max-width: 70%;
    }
  }

  .contact {
    &__container {
      flex-direction: column;
    }
    &__title {
      max-width: 100%;
      font-size: var(--h3-size);
      line-height: 121%;
      margin-bottom: var(--offset-a4);
    }
    &__action {
      max-width: calc(100% - 22px);
      margin-left: 22px;
    }
    &__form {
      margin-top: var(--offset-a4);
      &-title {
        max-width: 100%;
        font-size: 18px;
      }
    }
    &__button {
      align-self: flex-end;
      max-width: calc(66% + 16px);
    }
  }

  .footer {
    margin-bottom: 25px;
    &__block {
      margin-top: 12px;
      max-width: 66%;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
    }
  }
}
