@mixin solid-color-l-shape-tick($size: 20px, $thickness: 2px, $color: var(--primary), $direction: bottom right) {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: $size;
  height: $size;

  background: linear-gradient(to right, $color, $color) $direction/50% $thickness no-repeat,
    linear-gradient(to bottom, $color, $color) $direction/$thickness 50% no-repeat;
}

@mixin cut-off-left-top-and-right-bottom-corners(
  $size: 15px,
  $border-width: 1,
  $border-color: darken($white, 0.5),
  $should-border-be-visible: 'false'
) {
  clip-path: polygon(
    $size 0,
    /* Point 1: Start 15px from left at the top edge */ 100% 0,
    /* Point 2: Top-right corner */ 100% calc(100% - $size),
    /* Point 3: Right edge, 15px up from bottom */ calc(100% - $size) 100%,
    /* Point 4: Bottom edge, 15px left from right */ 0 100%,
    /* Point 5: Bottom-left corner */ 0 $size /* Point 6: Left edge, 15px down from top */
  );
  @if $should-border-be-visible == 'true' {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: calc(($size / -5) * $border-width);
      left: calc($size / 2.459);
      width: #{$border-width}px;
      height: calc($size * 1.4);
      background-color: $border-color;
      transform: rotate(45deg);
      pointer-events: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: calc(($size / -5) * $border-width);
      right: calc($size / 2.459);
      width: #{$border-width}px;
      height: calc($size * 1.4);
      background-color: $border-color;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }
}

@mixin primary-quotation($top: 0) {
  &::before {
    content: '';
    position: absolute;
    top: $top;
    left: 0;
    width: 3px;
    height: 32px;
    background-color: var(--primary);
  }
}

// requires &-inner element to exist
@mixin l-shape-ticks-on-four-sides($color: var(--primary), $container-padding: 40px 100px 11px 100px, $size: 15px, $thickness: 2px) {
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $size;
    height: $size;
    border: $thickness solid $color;
  }

  // Top-right corner
  &::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }

  // Bottom-left corner
  &::after {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
  }
  &-inner {
    padding: $container-padding;
    position: relative;

    // Top-left and bottom-left corners
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: $size;
      height: $size;
      border: $thickness solid $color;
    }

    // Top-left corner
    &::before {
      top: 0;
      left: 0;
      border-right: none;
      border-bottom: none;
    }

    // Bottom-right corner
    &::after {
      bottom: 0;
      right: 0;
      border-left: none;
      border-top: none;
    }
  }
}
