.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: $header-index;
  backdrop-filter: blur(10px);
  max-height: $header-height;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  &.active {
    background-color: var(--black);
  }
  &__container {
    padding: 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    &-image {
      display: inline-block;
      width: 128px;
      height: 46px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 87px;
  }
  &__burger {
    $self: &;
    position: relative;
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 40px;
    height: 17px;
    &-item {
      display: inline-block;
      width: 100%;
      height: 0.9px;
      background-color: var(--white);
      transition: all 0.3s ease-in-out;
    }
    &.active {
      #{$self}-item {
        &:nth-child(1) {
          transform: translateY(8.5px);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          transform: translateY(-8.5px);
        }
      }
    }
    &.rotate {
      #{$self}-item {
        &:nth-child(1) {
          transform: translateY(8.5px) rotate(32.5deg);
        }
        &:nth-child(3) {
          transform: translateY(-8.5px) rotate(-32.5deg);
        }
      }
    }
  }
  &__button {
    &--mobile {
      display: none;
    }
  }
}

.nav {
  &__list {
    display: flex;
    gap: 30px;
  }
  &__close {
    display: none;
  }
  &__item {
    position: relative;
    text-transform: uppercase;
    font-size: var(--text-info-size);
    color: var(--white);
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 0px;
      height: 1px;
      background-color: var(--primary);
      transition: width 0.15s ease-in-out;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
