.hero {
  padding-top: $header-height;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/hero-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    text-transform: uppercase;
    line-height: 1;
    max-width: 80%;
    overflow-y: hidden;
  }
  &__trademark {
    font-size: 40px;
  }
  &__slogan {
    position: relative;
    margin-top: 16px;
    margin-left: auto;
    max-width: 590px;
    @include l-shape-ticks-on-four-sides(var(--white), 12px 30px 12px 70px, 11px, 1px);
    &-title {
      font-weight: $font-weight-thin;
      text-transform: uppercase;
      &--highlight {
        font-weight: $font-weight-bold;
      }
    }
  }
}
