.history {
  &__container {
    position: relative;
  }
  &__hexagons {
    &--first {
      position: absolute;
      right: 0;
      bottom: -60px;
    }
  }
  &__ellipse {
    &--first {
      position: absolute;
      bottom: -45px;
      left: -40%;
      transform: translateX(40%);
    }
  }
  &__subsection {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
    &:not(:last-child) {
      padding-bottom: var(--offset-a2);
    }
    // z-index: -1;
    &-slider {
      position: relative;
      aspect-ratio: 500 / 360;
      max-width: 500px;
      align-self: flex-start;
      object-fit: cover;
      &-wrapper {
        .slick-list {
          // overflow: unset !important;
          .slick-track {
            display: flex !important;
            gap: 15px;
          }
        }
      }
    }
    &-controls {
      position: absolute;
      right: 0;
      bottom: -30px;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      align-self: flex-end;
      &.slick-hidden {
        &::after {
          display: none;
        }
      }
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary);
        width: 3px;
        height: 3px;
        border-radius: 100px;
      }
    }
  }
  &__slider {
    $self: &;
    &-controls {
      &--mobile {
        display: none;
      }
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      align-self: flex-end;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary);
        width: 3px;
        height: 3px;
        border-radius: 100px;
      }
    }
    &-button {
      padding: unset;
      $button-size: 15px;
      width: $button-size;
      height: $button-size;
      cursor: pointer;
      transition: filter 0.3s ease-in-out;
      // &.slick-disabled {
      //   opacity: 0.5;
      //   cursor: not-allowed;
      // }

      #{$self}-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;

        svg {
          width: 100%;
          height: 100%;
          fill: var(--primary);
          transition: color 0.3s ease-in-out;
        }
      }
      &--prev {
        #{$self}-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &__image {
    aspect-ratio: 500 / 360;
    max-width: 500px;
    align-self: flex-start;
    object-fit: cover;
    object-position: 85% top;
    @include cut-off-left-top-and-right-bottom-corners;
  }
  &__info {
    position: relative;
    max-width: 50%;
    @include primary-quotation;
    &::after {
      @include solid-color-l-shape-tick(20px, 2px, var(--primary), bottom right, -80px);
    }
    &-inner {
      margin-left: 32px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
