.history {
  &__subsection {
    padding: var(--offset-a2) 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &__image {
    aspect-ratio: 500 / 360;
    max-width: 500px;
    object-fit: cover;
    object-position: 85% top;
    @include cut-off-left-top-and-right-bottom-corners;
  }
  &__info {
    position: relative;
    max-width: 50%;
    @include primary-quotation;
    &::after {
      @include solid-color-l-shape-tick(20px, 2px, var(--primary), bottom right);
    }
    &-inner {
      margin-left: 32px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
