.location {
  margin-bottom: var(--offset-a2);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 55px;
    @include cut-off-left-top-and-right-bottom-corners(15px, 2, darken($white, 50%), 'true');
    border: 2px solid darken($white, 50%);
    background-color: var(--black);
  }
  &__title {
    font-size: 32px;
    text-transform: uppercase;
    min-width: calc(50% - 110px);
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
  }
}
