.solution {
  margin-bottom: var(--offset-a2);
  padding: var(--offset-a2) 0;
  &__container {
    position: relative;
  }
  &__ellipse {
    &-container {
      position: absolute;
      top: 215px;
      left: -213px;
      z-index: -1;
    }
    &--second {
      position: absolute;
      top: 85px;
      left: 200px;
    }
  }
  &__title {
    max-width: 75%;
    text-transform: uppercase;
    margin-bottom: var(--offset-a4);
  }
  &__slider {
    $self: &;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-controls {
      &--mobile {
        display: none;
      }
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      align-self: flex-end;
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary);
        width: 3px;
        height: 3px;
        border-radius: 100px;
      }
    }
    &-button {
      padding: unset;
      $button-size: 15px;
      width: $button-size;
      height: $button-size;
      cursor: pointer;
      transition: filter 0.3s ease-in-out;
      // &.slick-disabled {
      //   opacity: 0.5;
      //   cursor: not-allowed;
      // }

      #{$self}-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;

        svg {
          width: 100%;
          height: 100%;
          fill: var(--primary);
          transition: color 0.3s ease-in-out;
        }
      }
      &--prev {
        #{$self}-icon {
          transform: rotate(-180deg);
        }
      }
    }
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 18px;
    }
  }
  &__slide {
    display: flex !important;
    flex-direction: column;
    gap: var(--offset-a5);
    &-title {
      text-transform: uppercase;
    }
  }
  &__image {
    max-width: 481px;
    @include cut-off-left-top-and-right-bottom-corners;
  }
}
