.team {
  position: relative;
  padding: var(--offset-a2) 0;

  &__ellipse {
    position: absolute;
    top: 0;
    right: -175px;
    // z-index: 10;
  }
  &__container {
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: var(--offset-a4);
  }
  &__info {
    max-width: 70%;
    position: relative;
    @include primary-quotation;
    &-hexagons {
      position: absolute;
      top: 7px;
      width: 435px;
      right: calc(-435px - 57px);
      // z-index: 10;
    }
    margin-bottom: var(--offset-a3);
    &-inner {
      margin-left: 46px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
